@import 'vars';
@import 'mixins';

* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.header {
    height: 75px;
    background: #222;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    overflow: hidden;

    &__img_left {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        gap: 41px;
    }

    &__img_right {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 35px;
    }


}

.cart-icon {
    position: relative;

    &__image {
        position: absolute;
        top: -8px;
        right: -8px;
    }

    &__text {
        position: absolute;
        top: -8px;
        right: -2px;
        color: #FFF;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

#check {
    position: absolute;
    left: -99999px;
    visibility: hidden;
}

#check:checked ~ .menu {
    right: -232px;
}

.menu {
    width: 232px;
    position: absolute;
    top: 75px;
    right: 0;
    padding: 32px;
    box-sizing: border-box;
    transition: right 1s;
    background: #FFF;

    &__ul {
        display: flex;
        flex-direction: column;
        gap: 11px;
        list-style-type: none;
        padding-left: 20px;
    }
    &__heading {
        color: #000;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 4px;
    }
    &__subheading {
        color: #F16D7F;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 20px;
        margin-bottom: 12px;
    }
    &__link {
        color: #6F6E6E;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        &:hover {
            color: $colorSelectSite;
        }
    }
}

.breadcrumbs {
    height: 148px;
    background-color: #F8F3F4;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &__title {
        width: 194px;
        color: $colorSelectSite;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__box:not(:last-child)::after {
        content: '/';
        padding-left: 8px;
        padding-right: 8px;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #636363;
    }

    &__box:last-of-type .catalog_nav_link{
        color: $colorSelectSite;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    &__links {
        display: flex;
    }

    &__link {
        text-decoration: none;
        color: #636363;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.cart {
    padding-top: 96px;
    display: flex;
    justify-content: space-between;
    
    &__itemblock {
        width: 652px;

    }

    &__infoblock {
        width: 360px;
        margin-top: 17px;
        display: flex;
        flex-direction: column;
        gap: 57px;
    }

    &__items {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    &__item {
        position: relative;
        height: 306px;
        box-shadow: 17px 19px 24px 0 rgba(0, 0, 0, 0.13);
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 32px;

        &_img {
            width: 262px;
            height: 306px;
        }

        &__content {
            padding-top: 22px;
        }

        &_heading {
            width: 202px;
            margin-bottom: 42px;
            color: #222;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        &_text {
            margin-bottom: 6px;
            color: #575757;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

            &_pink {
                color: $colorSelectSite;
            }
        }

        &_input {
            margin-left: 24px;
            width: 44px;
            height: 25px;
            color: #656565;
            text-align: center;
            border: 1px solid #EAEAEA;
        }

        &_delete {
            position: absolute;
            top: 28px;
            right: 22px;
            border: none;
            background-color: #fff;
        }

        &_delete:hover path{
            transition-duration: 200ms;
            fill: red;
        }
    }

    &__buttons {
        margin-top: 72px;
        margin-bottom: 128px;
        display: flex;
        justify-content: space-between;
    }

    &__button {
        width: 235px;
        height: 50px;
        background-color: #fff;
        border: 1px solid #A4A4A4;;
        color: #575757;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__button:hover {
        transition-duration: 300ms;
        background-color: $colorSelectSite;
    }

    &__shipadress {
        display: flex;
        flex-direction: column;
        gap: 20px;

        &_title {
            width: 136px;
            color: #222;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        &_input {
            width: 360px;
            height: 45px;
            padding-left: 17px;
            background-color: #fff;
            border: 1px solid #A4A4A4;
            color: #222;
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        &_input:first-of-type {
            color: #B1B1B1;
        }

        &__button {
            width: 101px;
            height: 35px;  
            margin-top: 3px; 
            background-color: #fff;
            border: 1px solid #A4A4A4;;
            color: #4A4A4A;
            font-size: 11px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        &_button:hover {
            transition-duration: 300ms;
            background-color: $colorSelectSite;
        }
    }

    &__total {
        width: 360px;
        height: 214px;
        background-color: #F5F3F3;
        padding: 43px;
        display: flex;
        flex-direction: column;
        gap: 17px;

        &__info {
            height: 61px;
            border-bottom: 1px solid #E2E2E2;
        }

        &__text1 {
            text-align: right;
            color: #4A4A4A;
            font-size: 11px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        &__text2 {
            text-align: right;
            color: #222;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

            &__pink {
                color: $colorSelectSite;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        }

        &__button {
            width: 273px;
            height: 50px;
            background-color: $colorSelectSite;
            border: none;
            color: #FFF;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        &__button:hover {
            transition-duration: 300ms;
            color: #000;
        }
    }
}

.filter-sort {
    height: 132px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 320px;
}

.filter {
    width: 360px;
    box-sizing: border-box;
    position: absolute;
    color: $colorText;

    &__content {
        background-color: #fff;
        padding: 0px 16px 16px 16px;
        box-shadow: 17px 19px 24px 0 rgba(0, 0, 0, 0.13);
    }

    &[open] .filter__heading {
        color: $colorSelectSite;
    }

    &[open] path {
        fill: $colorSelectSite;
    }

    &__summary {
        display: flex;
        align-items: center;
        gap: 11px;

        &_svg {
            width: 15px;
            height: 10px;
        }
    }

    &__heading {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #000;
    }

    &__link-box {
        display: flex;
        flex-direction: column;
        gap: 11px;
        padding: 24px 16px 24px 16px;
    }

    &__link {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $colorText;
        &:hover {
            color: $colorSelectSite;
        }
    }

    &__head {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $colorText;
        padding: 8px 11px 11px 11px;
        border-bottom: 1px solid #EBEBEB;
        border-left: 5px solid $colorSelectSite;
    }

    &__item {
        margin-top: 16px;
    }

    &__item[open] .filter__head {
        color: $colorSelectSite;
    }
}

.sort {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 48px;


    &__box {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;

        &__text {
            color: #6F6E6E;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        &__size {
            position: absolute;
            left: -9px;
            top: 22px;
            width: 79px;
            height: 103px;
            padding-top: 7px;
            padding-left: 9px;
            background: #FFF;
            box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
            display: flex;
            flex-direction: column;
            gap: 6px;
            z-index: 2;

            &__elem {
                display: flex;
                gap: 9px;
                &__text {
                    color: $colorText;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
        }
    }
}

.details {
    position: relative;
}

img {
    max-width: 100%;
}

.top_content {
    background: #F1E4E6;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    &_center {
        padding-left: calc(45% - 800px);
        padding-right: calc(50% - 800px);
    }
    &_img {
        max-width: 800px;
        height: 764px;
    }
    &_brand {
        max-width: 800px;
        padding-left: 91px;
        padding-top: 290px;
        padding-bottom: 381px;
    }
}

.catalog {
    margin-top: 65px;
    margin-bottom: 65px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 360px);
    grid-template-rows: 260px 180px;
    gap: 30px;
}

.container {
    @include containerCatalogEl();
}

.container1 {
    background-image: linear-gradient(rgba(33, 22, 22, 0.70), rgba(33, 22, 22, 0.70)), url(img/woman.png);
    &:hover {
        opacity: 0.7;
    }
}

.container2 {
    background-image: linear-gradient(rgba(33, 22, 22, 0.70), rgba(33, 22, 22, 0.70)), url(img/man.png);
    &:hover {
        opacity: 0.7;
    }
}

.container3 {
    background-image: linear-gradient(rgba(33, 22, 22, 0.70), rgba(33, 22, 22, 0.70)), url(img/child.png);
    &:hover {
        opacity: 0.7;
    }
}

.container_big {
    position: relative;
    width: 1140px;
    height: 180px;
}

.container4 {
    background-image: linear-gradient(rgba(33, 22, 22, 0.70), rgba(33, 22, 22, 0.70)), url(img/accessories.png);
    background-repeat: no-repeat;
    background-size: cover;
    fill-opacity: "0.7";
    &:hover {
        opacity: 0.7;
    }
}

.cat_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.showcase {
    &_title {
        color: #222;
        font-family: Lato;
        text-align: center;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &_text {
        color: #9F9F9F;
        text-align: center;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 48px;
    }

    &_footer {
        margin-top: 100px;
        margin-bottom: 200px;
    }

    &_item {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(3, 360px);
        grid-template-rows: repeat(2, 581px);
        gap: 30px;
        margin-bottom: 48px;
    }

    &_item_text {
        margin-bottom: 0;
        background-color: #F8F8F8;
        padding: 24px 28px 20px 16px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
        gap: 5px;
    }

    &_product_name {
        color: $backgroundColor;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &_descriprion {
        color: #5D5D5D;
        margin-bottom: 13px;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &_price {
        margin-bottom: 0px;
        color: $colorSelectSite;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &_footer {
        position: relative;
    }

    &_footer_img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
    }

    &_footer_button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 212px;
        height: 48px;
        border: 1px solid $colorSelectSite;
        color: #F26376;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &_item2_img {
        background-size: 360px 420px;
        width: 360px;
        height: 420px;
    }
}

.pagination {
    width: 283px;
    height: 43px;

    &__page {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        background: #ffffff;
        border: 1px #EBEBEB;
        box-shadow: 0 0.8rem 2rem rgba(#5a6181, 0.05);
      
        &_numbers,
        &_btn,
        &_dots {
          display: flex;
          justify-content: center;
          align-items: center;
          color: #C4C4C4;
          font-size: 16px;
          font-style: normal;
          font-weight: 300;
          line-height: normal;
        }
      
        &_numbers {
          width: 2.6rem;
          height: 2.6rem;
          border-radius: 0.4rem;
        }
    }      
}

.footer_level1 {
    height: 341px;
    margin-top: 96px;
    background-color: $backgroundColor;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 30px;

    &_block {
        width: 360px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        gap: 16px;

        &_subtitle{
            margin-top: 12px;
            color: #FBFBFB;
            font-family: Lato;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        &_text {
            color: #FBFBFB;
            text-align: center;
            font-family: "Lato", sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }
    }
}

.footer_level2 {
    height: 448px;
    background-image: linear-gradient(rgba(244, 244, 244, 0.70), rgba(244, 244, 244, 0.70)), url(img/backround_foot_l2.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 410px;

    &_block {
        width: 360px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        gap: 30px; 

        &_text_A {
            color: $backgroundColor;
            text-align: center;
            font-family: Lato;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 167.2%;
        }

        &_text_B {
            color: $backgroundColor;
            text-align: center;
            font-family: Lato;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 167.2%;
        }
    }

    &_input_email {
        width: 360px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
    }

    &_input {
        width: 256px;
        height: 49px;
        flex-shrink: 0;
        color: #E1E1E1;
        position: relative;
    }

    &_input1 {
        z-index: 1; 
        position: absolute; 
        top: 0; 
        left: 0;
    }

    &_input_pole {
        width: 170px;
        height: 36px;
        z-index: 2; 
        position: absolute; 
        top: 7px; 
        left: 22px;
        color: $backgroundColor;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        opacity: 0.671;
        background: none;
        border: none;
    }

    &_button {
        width: 100px;
        height: 49px;
        position: relative;
    }

    &_button_background {
        z-index: 1; 
        position: absolute; 
        top: 0; 
        left: 0;
    }

    &_button_text {
        z-index: 2; 
        position: absolute; 
        top: 7px; 
        left: 8px;
        width: 85px;
        height: 36px;
        background: none;
        border: none;
        color: #FFF;
        text-align: center;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.footer_feedback {
    width: 359.449px;
    height: 99px;
    flex-shrink: 0;
    text-align: center;

    &_text_A {
        color: $backgroundColor;
        text-align: center;
        font-family: Lato;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &_text_B {
        color: $backgroundColor;
        font-family: Lato;
        font-size: 20px;
        font-style: italic;
        font-weight: 400;
        line-height: normal;
    }
}

.footer_level3{
    height: 79px;
    flex-shrink: 0;
    background-color: $backgroundColor;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    gap: 650px;

    &_text {
        width: 332px;
        color: #FBFBFB;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        }

    &_logo_block {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        gap: 7px;

        &_logo {
            width: 32px;
            height: 32px;
            flex-shrink: 0;
            color: #FFF;
            position: relative;
        
        }
    }

}

.background_logo {
    z-index: 1; 
    position: absolute; 
    top: 0; 
    left: 0;
}

.logo {
    z-index: 2; 
    position: absolute; 
    top: 8px; 
    left: 9px;
}

.registr-block {
    padding-top: 64px;
    padding-bottom: 96px;
    display: flex;
    gap: 128px;
}

.form {
    width: 360px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    &__subtitle {
        margin-bottom: 0;
        color: #222;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__input {
        margin-top: 4px;
        padding-left: 17px;
        width: 359px;
        height: 44px;
        border: 0.5px solid #a4a4a4;
        background-color: #FFF;
        color: #B1B1B1;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__radioblock {
        margin-top: 15px;
        display: flex;
        gap: 10px;
    }

    &__radio {
        width: 17px;
        height: 17px;
        border: 1px solid #a4a4a4;
    }

    &__radio-label {
        color: #000;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-right: 10px;
        margin-bottom: 17px;
    }

    &__text {
        color: #B1B1B1;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__button {
        margin-bottom: 23px;
        width: 167px;
        height: 50px;
        border: none;
        background-color: $colorSelectSite;
        color: #FFF;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.offer {
    max-width: 652px;
    display: flex;
    flex-direction: column;
    gap: 22px;

    &__title {
        margin-bottom: 0;
        color: #000;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__text {
        margin-bottom: 0;
        color: #000;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__ul {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__li {
        list-style-type: none;
        color: #000;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__li:before {
        content: url('img/tick_marker.svg');
        margin-right: 23px;
    }
}

@media (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 384px);
        padding-right: calc(50% - 384px);
    }

    .header {
        padding-left: 32px;
        padding-right: 32px;
    }

    .top_content {
        &_img {
            max-width: 364px;
            height: 368px;
        }
        &_brand {
            max-width: 364px;
            padding-left: 91px;
            padding-top: 138px;
            padding-bottom: 151px;
        }
    }

    .catalog {
        margin-top: 19px;
        margin-bottom: 154px;
        grid-template-columns: repeat(3, 232px);
        grid-template-rows: 168px 116px;
        gap: 19px;
    }

    .container1 {
        background-size: contain;
        width: 232px;
        height: 168px;
    }
    
    .container2 {
        background-size: contain;
        width: 232px;
        height: 168px;
    }
    
    .container3 {
        background-size: contain;
        width: 232px;
        height: 168px;
    }
    
    .container_big {
        background-size: contain;
        width: 735px;
        height: 116px;
    }

    .showcase {
        &_text {
            margin-bottom: 72px;
        }

        &_item {
            display: grid;
            grid-template-columns: repeat(2, 360px);
            grid-template-rows: repeat(3, 581px);
            gap: 17px;
            margin-bottom: 32px;
        }
    }

    .footer_level1 {
        height: 610px;
        flex-direction: column;
        gap: 48px;
    
        &_block {

            &_subtitle{
                margin-top: 12px;
                margin-bottom: 0;
            }
    
            &_text {
                margin-bottom: 0;
            }
        }
    }

    .footer_level2 {
        height: 693px;
        flex-direction: column;
        gap: 48px;
    }

    .footer_level3{
        height: 79px;
        padding-left: 32px;
        padding-right: 32px;
        gap: 0px;
    }

    .filter-sort {
        height: 81px;
        justify-content: space-between;

    }

    .cart {
        padding-top: 59px;
        flex-direction: column;
        
        &__itemblock {
            width: 734px;
    
        }
    
        &__infoblock {
            margin-bottom: 128px;
            flex-direction: row;
        }
    
        &__buttons {
            margin-top: 62px;
            margin-bottom: 64px;
            justify-content: space-evenly;
        }
    
        &__shipadress {
            flex-direction: column;
        }
    
        &__total {
            margin-top: 39px;
        }
    }
}


@media (max-width: 768px) {
    .center{
        padding-left: calc(50% - 180px);
        padding-right: calc(50% - 180px);
    }

    .profile, .cart-icon, .top_content_img, .filter__heading {
        visibility: hidden;
        display: none;
    }

    .top_content {
        &_brand {
            width: 375px;
            height: 367px;
            padding: 148px 56px;
        }
    }

    .catalog {
        margin: 64px 0;
        padding: 0;
        grid-template-columns: repeat(1, 343px);
        grid-template-rows: 249px 249px 249px 111px;
        gap: 32px;
    }

    .container1 {
        background-size: contain;
        width: 343px;
        height: 247px;
    }
    
    .container2 {
        background-size: contain;
        width: 343px;
        height: 247px;
    }
    
    .container3 {
        background-size: contain;
        width: 343px;
        height: 247px;
    }
    
    .container_big {
        background-size: contain;
        width: 343px;
        height: 111px;
    }

    .showcase {

        &_item {
            display: grid;
            grid-template-columns: repeat(1, 359px);
            gap: 17px;
        }

        &_footer {
            height: 152px;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        &_footer_button {
            top: 30%;
        }
    }

    .footer_level1 {
        margin-top: 0;
        height: 610px;
        flex-direction: column;
        gap: 46px;
    
        &_block {

            &_subtitle{
                margin-top: 12px;
                margin-bottom: 0;
            }
    
            &_text {
                margin-bottom: 0;
            }
        }
    }

    .footer_level2 {
        height: 550px;
        flex-direction: column;
        gap: 48px;

        &_block {
            gap: 29px; 
    
            &_text_B {
                font-size: 14px;
            }
        }
        &_input {
            width: 245px;
            height: 47px;
        }
    
        &_button {
            width: 96px;
            height: 47px;
            position: relative;
        }
    }

    .footer_feedback {   
        padding-left: 20px;
        padding-right: 20px;

        &_text_A {
            font-size: 18px;
        }
    
        &_text_B {
            font-size: 18px;
        }
    }

    .footer_level3{
        height: 143px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
        gap: 40px;
    
        &_text {
            width: 251px;
            }    
    }

    .breadcrumbs {
        padding-top: 24px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 32px;
    
        &__title {
            margin-bottom: 0;
        }
    }

    .cart-mobile {
        margin-top: 30px;
    }

    .reg-mobile {
        margin-top: 30px;
        width: 169px;
    }

    .filter-sort {
        height: 81px;
        display: flex;
        justify-content: flex-start;
        gap: 61px;
    }

    .filt {
        width: 37px;
        height: 25px;
    }

    .filter {
        &__summary {
            &_svg {
                width: 37px;
                height: 25px;
            }
        }
    }
    
    .sort {
        gap: 24px;
    
        &__box {
            gap: 9px;
    
            &__text {
                font-size: 12px;
            }
        }
    }

    .cart {
        padding-top: 39px;
        
        &__itemblock {
            width: 358px;
    
        }
    
        &__infoblock {
            margin-top: 0;
            margin-bottom: 96px;
            display: flex;
            flex-direction: column;
            gap: 48px;
        }
    
        &__items {
            gap: 32px;
        }
    
        &__item {
            height: 188px;
            gap: 17px;
    
            &_img {
                background-size: contain;
                width: 144px;
                height: 188px;
                &_mobile {
                    height: 188px;
                }
            }
    
            &__content {
                padding-top: 13px;
            }
    
            &_heading {
                max-width: 135px;
                font-size: 16px;
                margin-bottom: 26px;
            }
    
            &_text {
                font-size: 14px;
                margin-bottom: 4px;
            }
    
            &_input {
                margin-left: 15px;
                width: 24px;
                height: 15px;
            }
    
            &_delete {
                top: 17px;
                right: 12px;
                height: 11px;

                &_mobile {
                    width: 10px;
                    height: 11px;
                }
            }
        }
    
        &__buttons {
            margin-top: 30px;
            margin-bottom: 48px;
        }
    
        &__button {
            width: 175px;
            height: 33px;
            font-size: 12px;
            text-transform: lowercase;
        }

        &__button::first-letter {
            text-transform: uppercase;
        }
    
        &__shipadress {
            display: flex;
            flex-direction: column;
            gap: 21px;
    
            &_input {
                width: 358px;
                height: 44px;
            }
    
            &__button {
                width: 101px;
                height: 35px;
                color: #575757;
                text-transform: lowercase;
            }

            &__button::first-letter {
                text-transform: uppercase;
            }
        }
    
        &__total {
            margin-top: 0;
            padding: 39px 43px 42px 44px;
    
            &__info {
                height: 65px;
                border-bottom: 1px solid #E2E2E2;
            }
    
            &__text1 {
                margin-bottom: 12px;
            }
    
            &__text2 {
                margin-bottom: 12px;
            }
        }
    }

    .registr-block {
        padding-top: 40px;
        flex-direction: column;
        gap: 40px;
    }

    .offer {
        max-width: 652px;
        display: flex;
        flex-direction: column;
        gap: 22px;
    
        &__title {
            font-size: 16px;
            margin-bottom: 10px;
        }
    
        &__text {
            font-size: 16px;
        }
    
        &__ul {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
    
        &__li {
            font-size: 16px;
        }
    }
}