@import 'vars';
@import 'mixins';

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.page_1 {
    overflow: hidden;
}

.header {
    height: 75px;
    background: #222;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    overflow: hidden;

    &_img_left {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        gap: 41px;
    }

    &_img_right {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        gap: 35px;
    }


}

#check {
    position: absolute;
    left: -99999px;
    visibility: hidden;
}

#check:checked ~ .menu {
    right: -232px;
}

.menu {
    width: 232px;
    position: absolute;
    top: 75px;
    right: 0;
    padding: 32px;
    box-sizing: border-box;
    transition: right 1s;
    background: #FFF;

    &__ul {
        display: flex;
        flex-direction: column;
        gap: 11px;
        list-style-type: none;
        padding-left: 20px;
    }
    &__heading {
        color: #000;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 4px;
    }
    &__subheading {
        color: #F16D7F;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 20px;
        margin-bottom: 12px;
    }
    &__link {
        color: #6F6E6E;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        &:hover {
            color: $colorSelectSite;
        }
    }
}

.catalog_nav {
    height: 148px;
    color: #F8F3F4;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &_title {
        width: 194px;
        color: $colorSelectSite;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &_box:not(:last-child)::after {
        content: '/';
        padding-left: 8px;
        padding-right: 8px;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #636363;
    }

    &_box:last-of-type .catalog_nav_link{
        color: $colorSelectSite;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    &_links {
        display: flex;
    }

    &_link {
        text-decoration: none;
        color: #636363;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        
    }
}

.cart_list {
    padding-top: 96px;
    display: flex;
    justify-content: space-between;
    
    &_itemblock {
        width: 652px;

    }

    &_infoblock {
        width: 360px;
        margin-top: 17px;
        display: flex;
        flex-direction: column;
        gap: 57px;
    }

    &_items {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    &_item {
        position: relative;
        height: 306px;
        box-shadow: 17px 19px 24px 0 rgba(0, 0, 0, 0.13);
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 32px;

        &_img {
            width: 262px;
            height: 306px;
        }

        &_content {
            
            padding-top: 22px;
        }

        &_heading {
            width: 202px;
            margin-bottom: 42px;
            color: #222;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        &_text {
            margin-bottom: 6px;
            color: #575757;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

            &_pink {
                color: $colorSelectSite;
            }
        }

        &_input {
            margin-left: 24px;
            width: 44px;
            height: 25px;
            text-align: center;
            border: 1px solid #EAEAEA;
        }

        &_delete {
            position: absolute;
            top: 28px;
            right: 22px;
            border: none;
            background-color: #fff;
        }

        &_delete:hover path{
            transition-duration: 200ms;
            fill: red;
        }
    }

    &_buttons {
        margin-top: 72px;
        margin-bottom: 128px;
        display: flex;
        justify-content: space-between;
    }

    &_button {
        width: 235px;
        height: 50px;
        background-color: #fff;
        border: 1px solid #A4A4A4;;
        color: #000;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &_button:hover {
        transition-duration: 300ms;
        background-color: $colorSelectSite;
    }

    &_shipadress {
        display: flex;
        flex-direction: column;
        gap: 20px;

        &_title {
            width: 136px;
            color: #222;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        &_input {
            width: 360px;
            height: 45px;
            padding-left: 17px;
            background-color: #fff;
            border: 1px solid #A4A4A4;
            color: #222;
        }

        &_button {
            width: 101px;
            height: 35px;  
            margin-top: 3px; 
            background-color: #fff;
            border: 1px solid #A4A4A4;;
            color: #4A4A4A;
            font-size: 11px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        &_button:hover {
            transition-duration: 300ms;
            background-color: $colorSelectSite;
        }
    }

    &_total {
        width: 360px;
        height: 214px;
        background-color: #F5F3F3;
        padding: 43px;
        display: flex;
        flex-direction: column;
        gap: 17px;

        &_info {
            height: 61px;
            border-bottom: 1px solid #E2E2E2;
        }

        &_text1 {
            text-align: right;
            color: #4A4A4A;
            font-size: 11px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        &_text2 {
            text-align: right;
            color: #222;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

            &_pink {
                color: $colorSelectSite;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        }

        &_button {
            width: 273px;
            height: 50px;
            background-color: $colorSelectSite;
            border: none;
            color: #FFF;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        &_button:hover {
            transition-duration: 300ms;
            color: #000;
        }
    }
}

.filter-sort {
    height: 132px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 320px;
}

.filter {
    width: 360px;
    box-sizing: border-box;
    position: absolute;
    color: $colorText;

    &__content {
        background-color: #fff;
        padding: 0px 16px 16px 16px;
    }

    &[open] .filter__heading {
        color: $colorSelectSite;
    }

    &[open] path {
        fill: $colorSelectSite;
    }

    &__summary {
        display: flex;
        align-items: center;
        gap: 11px;
    }

    &__heading {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #000;
    }

    &__link-box {
        display: flex;
        flex-direction: column;
        gap: 11px;
        padding: 24px 16px 24px 16px;
    }

    &__link {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $colorText;
        &:hover {
            color: $colorSelectSite;
        }
    }

    &__head {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $colorText;
        padding: 8px 11px 11px 11px;
        border-bottom: 1px solid #EBEBEB;
        border-left: 5px solid $colorSelectSite;
    }

    &__item {
        margin-top: 16px;
    }

    &__item[open] .filter__head {
        color: $colorSelectSite;
    }
}

.sort {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 48px;


    &__box {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;

        &__text {
            color: #6F6E6E;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        &__size {
            position: absolute;
            left: -9px;
            top: 22px;
            width: 79px;
            height: 103px;
            padding-top: 7px;
            padding-left: 9px;
            background: #FFF;
            box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
            display: flex;
            flex-direction: column;
            gap: 6px;
            z-index: 2;

            &__elem {
                display: flex;
                gap: 9px;
                &__text {
                    color: $colorText;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
        }
    }
}

.details {
    position: relative;
}

img {
    max-width: 100%;
}

.top_content {
    background: #F1E4E6;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    &_center {
        padding-left: calc(45% - 800px);
        padding-right: calc(50% - 800px);
    }
    &_img {
        max-width: 800px;
        height: 764px;
    }
    &_brand {
        max-width: 800px;
        padding-left: 91px;
        padding-top: 290px;
        padding-bottom: 381px;
    }
}

.catalog {
    margin-top: 65px;
    margin-bottom: 65px;
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-template-rows: 260px 180px;
    gap: 30px;
}

.container {
    @include containerCatalogEl();
}

.container1 {
    background-image: linear-gradient(rgba(33, 22, 22, 0.70), rgba(33, 22, 22, 0.70)), url(img/woman.png);
    &:hover {
        opacity: 0.7;
    }
}

.container2 {
    background-image: linear-gradient(rgba(33, 22, 22, 0.70), rgba(33, 22, 22, 0.70)), url(img/man.png);
    &:hover {
        opacity: 0.7;
    }
}

.container3 {
    background-image: linear-gradient(rgba(33, 22, 22, 0.70), rgba(33, 22, 22, 0.70)), url(img/child.png);
    &:hover {
        opacity: 0.7;
    }
}

.container_big {
    position: relative;
    width: 1140px;
    height: 180px;
}

.container4 {
    background-image: linear-gradient(rgba(33, 22, 22, 0.70), rgba(33, 22, 22, 0.70)), url(img/accessories.png);
    background-repeat: no-repeat;
    background-size: cover;
    fill-opacity: "0.7";
    &:hover {
        opacity: 0.7;
    }
}

.cat_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.showcase {
    &_title {
        color: #222;
        font-family: Lato;
        text-align: center;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &_text {
        color: #9F9F9F;
        text-align: center;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 48px;
    }

    &_footer {
        margin-top: 100px;
        margin-bottom: 200px;
    }

    &_item {
        display: grid;
        grid-template-columns: repeat(3, 360px);
        grid-template-rows: repeat(2, 581px);
        gap: 30px;
        margin-bottom: 48px;
    }

    &_item_text {
        background-color: #F8F8F8;
        padding: 24px 16px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
        gap: 16px;
    }

    &_product_name {
        color: $backgroundColor;
        font-family: Lato;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &_descriprion {
        color: #5D5D5D;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &_price {
        color: $colorSelectSite;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &_item2 {
        background-color: #F7E4E2;;
        position: relative; 
        width: 360px;
        height: 420px; 
    }

    &_item2_img {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
    }

    &_item2_text {
        background-color: #F8F8F8;
        position: absolute;
        top: 420px;
        padding: 24px 16px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
        gap: 16px;
    }

    &_footer {
        position: relative;
    }

    &_footer_img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
    }

    &_footer_button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #F26376;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.footer_level1 {
    height: 341px;
    margin-top: 95px;
    background-color: $backgroundColor;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 30px;

    &_block {
        width: 360px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        gap: 16px;

        &_subtitle{
            margin-top: 12px;
            color: #FBFBFB;
            font-family: Lato;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        &_text {
            color: #FBFBFB;
            text-align: center;
            font-family: "Lato", sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }
    }
}

.footer_level2 {
    height: 448px;
    background-image: linear-gradient(rgba(244, 244, 244, 0.70), rgba(244, 244, 244, 0.70)), url(img/backround_foot_l2.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 410px;

    &_block {
        width: 360px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        gap: 30px; 

        &_text_A {
            color: $backgroundColor;
            text-align: center;
            font-family: Lato;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 167.2%;
        }

        &_text_B {
            color: $backgroundColor;
            text-align: center;
            font-family: Lato;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 167.2%;
        }
    }

    &_input_email {
        width: 360px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
    }

    &_input {
        width: 256px;
        height: 49px;
        flex-shrink: 0;
        color: #E1E1E1;
        position: relative;
    }

    &_input1 {
        z-index: 1; 
        position: absolute; 
        top: 0; 
        left: 0;
    }

    &_input_pole {
        width: 170px;
        height: 36px;
        z-index: 2; 
        position: absolute; 
        top: 7px; 
        left: 22px;
        color: $backgroundColor;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        opacity: 0.671;
        background: none;
        border: none;
    }

    &_button {
        width: 100px;
        height: 49px;
        position: relative;
    }

    &_button_background {
        z-index: 1; 
        position: absolute; 
        top: 0; 
        left: 0;
    }

    &_button_text {
        z-index: 2; 
        position: absolute; 
        top: 7px; 
        left: 8px;
        width: 85px;
        height: 36px;
        background: none;
        border: none;
        color: #FFF;
        text-align: center;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.footer_feedback {
    width: 359.449px;
    height: 99px;
    flex-shrink: 0;
    text-align: center;

    &_text_A {
        color: $backgroundColor;
        text-align: center;
        font-family: Lato;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &_text_B {
        color: $backgroundColor;
        font-family: Lato;
        font-size: 20px;
        font-style: italic;
        font-weight: 400;
        line-height: normal;
    }
}

.footer_level3{
    height: 79px;
    flex-shrink: 0;
    background-color: $backgroundColor;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    gap: 650px;

    &_text {
        width: 332px;
        color: #FBFBFB;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        }

    &_logo_block {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        gap: 7px;

        &_logo {
            width: 32px;
            height: 32px;
            flex-shrink: 0;
            color: #FFF;
            position: relative;
        
        }
    }

}

.background_logo {
    z-index: 1; 
    position: absolute; 
    top: 0; 
    left: 0;
}

.logo {
    z-index: 2; 
    position: absolute; 
    top: 8px; 
    left: 9px;
}
