* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.page_1 {
  overflow: hidden;
}

.header {
  height: 75px;
  background: #222;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  overflow: hidden;
}
.header_img_left {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 41px;
}
.header_img_right {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 35px;
}

#check {
  position: absolute;
  left: -99999px;
  visibility: hidden;
}

#check:checked ~ .menu {
  right: -232px;
}

.menu {
  width: 232px;
  position: absolute;
  top: 75px;
  right: 0;
  padding: 32px;
  box-sizing: border-box;
  transition: right 1s;
  background: #FFF;
}
.menu__ul {
  display: flex;
  flex-direction: column;
  gap: 11px;
  list-style-type: none;
  padding-left: 20px;
}
.menu__heading {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 4px;
}
.menu__subheading {
  color: #F16D7F;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 20px;
  margin-bottom: 12px;
}
.menu__link {
  color: #6F6E6E;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.menu__link:hover {
  color: #F16D7F;
}

.catalog_nav {
  height: 148px;
  color: #F8F3F4;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.catalog_nav_title {
  width: 194px;
  color: #F16D7F;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.catalog_nav_box:not(:last-child)::after {
  content: "/";
  padding-left: 8px;
  padding-right: 8px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}
.catalog_nav_box:last-of-type .catalog_nav_link {
  color: #F16D7F;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.catalog_nav_links {
  display: flex;
}
.catalog_nav_link {
  text-decoration: none;
  color: #636363;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.filter-sort {
  height: 132px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 320px;
}

.filter {
  width: 360px;
  box-sizing: border-box;
  position: absolute;
  color: #6F6E6E;
}
.filter__content {
  background-color: #fff;
  padding: 0px 16px 16px 16px;
}
.filter[open] .filter__heading {
  color: #F16D7F;
}
.filter[open] path {
  fill: #F16D7F;
}
.filter__summary {
  display: flex;
  align-items: center;
  gap: 11px;
}
.filter__heading {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}
.filter__link-box {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 24px 16px 24px 16px;
}
.filter__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}
.filter__link:hover {
  color: #F16D7F;
}
.filter__head {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  padding: 8px 11px 11px 11px;
  border-bottom: 1px solid #EBEBEB;
  border-left: 5px solid #F16D7F;
}
.filter__item {
  margin-top: 16px;
}
.filter__item[open] .filter__head {
  color: #F16D7F;
}

.sort {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 48px;
}
.sort__box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.sort__box__text {
  color: #6F6E6E;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.sort__box__size {
  position: absolute;
  left: -9px;
  top: 22px;
  width: 79px;
  height: 103px;
  padding-top: 7px;
  padding-left: 9px;
  background: #FFF;
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
  display: flex;
  flex-direction: column;
  gap: 6px;
  z-index: 2;
}
.sort__box__size__elem {
  display: flex;
  gap: 9px;
}
.sort__box__size__elem__text {
  color: #6F6E6E;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.details {
  position: relative;
}

img {
  max-width: 100%;
}

.top_content {
  background: #F1E4E6;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.top_content_center {
  padding-left: calc(45% - 800px);
  padding-right: calc(50% - 800px);
}
.top_content_img {
  max-width: 800px;
  height: 764px;
}
.top_content_brand {
  max-width: 800px;
  padding-left: 91px;
  padding-top: 290px;
  padding-bottom: 381px;
}

.catalog {
  margin-top: 65px;
  margin-bottom: 65px;
  display: grid;
  grid-template-columns: repeat(3, 360px);
  grid-template-rows: 260px 180px;
  gap: 30px;
}

.container {
  position: relative;
  width: 360px;
  height: 260px;
  background-repeat: no-repeat;
  background-size: cover;
  fill-opacity: "0.7";
}

.container1 {
  background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(img/woman.png);
}
.container1:hover {
  opacity: 0.7;
}

.container2 {
  background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(img/man.png);
}
.container2:hover {
  opacity: 0.7;
}

.container3 {
  background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(img/child.png);
}
.container3:hover {
  opacity: 0.7;
}

.container_big {
  position: relative;
  width: 1140px;
  height: 180px;
}

.container4 {
  background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(img/accessories.png);
  background-repeat: no-repeat;
  background-size: cover;
  fill-opacity: "0.7";
}
.container4:hover {
  opacity: 0.7;
}

.cat_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.showcase_title {
  color: #222;
  font-family: Lato;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.showcase_text {
  color: #9F9F9F;
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 48px;
}
.showcase_footer {
  margin-top: 100px;
  margin-bottom: 200px;
}
.showcase_item {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  grid-template-rows: repeat(2, 581px);
  gap: 30px;
  margin-bottom: 48px;
}
.showcase_item_text {
  background-color: #F8F8F8;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  gap: 16px;
}
.showcase_product_name {
  color: #222224;
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.showcase_descriprion {
  color: #5D5D5D;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.showcase_price {
  color: #F16D7F;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.showcase_item2 {
  background-color: #F7E4E2;
  position: relative;
  width: 360px;
  height: 420px;
}
.showcase_item2_img {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.showcase_item2_text {
  background-color: #F8F8F8;
  position: absolute;
  top: 420px;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  gap: 16px;
}
.showcase_footer {
  position: relative;
}
.showcase_footer_img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.showcase_footer_button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #F26376;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer_level1 {
  height: 341px;
  margin-top: 95px;
  background-color: #222224;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.footer_level1_block {
  width: 360px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.footer_level1_block_subtitle {
  margin-top: 12px;
  color: #FBFBFB;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer_level1_block_text {
  color: #FBFBFB;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.footer_level2 {
  height: 448px;
  background-image: linear-gradient(rgba(244, 244, 244, 0.7), rgba(244, 244, 244, 0.7)), url(img/backround_foot_l2.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 410px;
}
.footer_level2_block {
  width: 360px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  gap: 30px;
}
.footer_level2_block_text_A {
  color: #222224;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 167.2%;
}
.footer_level2_block_text_B {
  color: #222224;
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 167.2%;
}
.footer_level2_input_email {
  width: 360px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
.footer_level2_input {
  width: 256px;
  height: 49px;
  flex-shrink: 0;
  color: #E1E1E1;
  position: relative;
}
.footer_level2_input1 {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}
.footer_level2_input_pole {
  width: 170px;
  height: 36px;
  z-index: 2;
  position: absolute;
  top: 7px;
  left: 22px;
  color: #222224;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.671;
  background: none;
  border: none;
}
.footer_level2_button {
  width: 100px;
  height: 49px;
  position: relative;
}
.footer_level2_button_background {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}
.footer_level2_button_text {
  z-index: 2;
  position: absolute;
  top: 7px;
  left: 8px;
  width: 85px;
  height: 36px;
  background: none;
  border: none;
  color: #FFF;
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer_feedback {
  width: 359.449px;
  height: 99px;
  flex-shrink: 0;
  text-align: center;
}
.footer_feedback_text_A {
  color: #222224;
  text-align: center;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer_feedback_text_B {
  color: #222224;
  font-family: Lato;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

.footer_level3 {
  height: 79px;
  flex-shrink: 0;
  background-color: #222224;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 650px;
}
.footer_level3__text {
  width: 332px;
  color: #FBFBFB;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer_level3_logo_block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  gap: 7px;
}
.footer_level3_logo_block_logo {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  color: #FFF;
  position: relative;
}

.background_logo {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.logo {
  z-index: 2;
  position: absolute;
  top: 8px;
  left: 9px;
}/*# sourceMappingURL=style.css.map */