* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.header {
  height: 75px;
  background: #222;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  overflow: hidden;
}
.header__img_left {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 41px;
}
.header__img_right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 35px;
}

.cart-icon {
  position: relative;
}
.cart-icon__image {
  position: absolute;
  top: -8px;
  right: -8px;
}
.cart-icon__text {
  position: absolute;
  top: -8px;
  right: -2px;
  color: #FFF;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#check {
  position: absolute;
  left: -99999px;
  visibility: hidden;
}

#check:checked ~ .menu {
  right: -232px;
}

.menu {
  width: 232px;
  position: absolute;
  top: 75px;
  right: 0;
  padding: 32px;
  box-sizing: border-box;
  transition: right 1s;
  background: #FFF;
}
.menu__ul {
  display: flex;
  flex-direction: column;
  gap: 11px;
  list-style-type: none;
  padding-left: 20px;
}
.menu__heading {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 4px;
}
.menu__subheading {
  color: #F16D7F;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 20px;
  margin-bottom: 12px;
}
.menu__link {
  color: #6F6E6E;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.menu__link:hover {
  color: #F16D7F;
}

.breadcrumbs {
  height: 148px;
  background-color: #F8F3F4;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.breadcrumbs__title {
  color: #F16D7F;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.breadcrumbs__box:not(:last-child)::after {
  content: "/";
  padding-left: 8px;
  padding-right: 8px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}
.breadcrumbs__box:last-of-type .breadcrumbs__link {
  color: #F16D7F;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.breadcrumbs__links {
  display: flex;
}
.breadcrumbs__link {
  text-decoration: none;
  color: #636363;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cart {
  padding-top: 96px;
  display: flex;
  justify-content: space-between;
}
.cart__itemblock {
  width: 652px;
}
.cart__infoblock {
  width: 360px;
  margin-top: 17px;
  display: flex;
  flex-direction: column;
  gap: 57px;
}
.cart__items {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.cart__item {
  position: relative;
  height: 306px;
  box-shadow: 17px 19px 24px 0 rgba(0, 0, 0, 0.13);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 32px;
}
.cart__item_img {
  width: 262px;
  height: 306px;
}
.cart__item__content {
  padding-top: 22px;
}
.cart__item_heading {
  width: 202px;
  margin-bottom: 42px;
  color: #222;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cart__item_text {
  margin-bottom: 6px;
  color: #575757;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cart__item_text_pink {
  color: #F16D7F;
}
.cart__item_input {
  margin-left: 24px;
  width: 44px;
  height: 25px;
  color: #656565;
  text-align: center;
  border: 1px solid #EAEAEA;
}
.cart__item_delete {
  position: absolute;
  top: 28px;
  right: 22px;
  border: none;
  background-color: #fff;
}
.cart__item_delete:hover path {
  transition-duration: 200ms;
  fill: red;
}
.cart__buttons {
  margin-top: 72px;
  margin-bottom: 128px;
  display: flex;
  justify-content: space-between;
}
.cart__button {
  width: 235px;
  height: 50px;
  background-color: #fff;
  border: 1px solid #A4A4A4;
  color: #575757;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cart__button:hover {
  transition-duration: 300ms;
  background-color: #F16D7F;
}
.cart__shipadress {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cart__shipadress_title {
  width: 136px;
  color: #222;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cart__shipadress_input {
  width: 360px;
  height: 45px;
  padding-left: 17px;
  background-color: #fff;
  border: 1px solid #A4A4A4;
  color: #222;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cart__shipadress_input:first-of-type {
  color: #B1B1B1;
}
.cart__shipadress__button {
  width: 101px;
  height: 35px;
  margin-top: 3px;
  background-color: #fff;
  border: 1px solid #A4A4A4;
  color: #4A4A4A;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cart__shipadress_button:hover {
  transition-duration: 300ms;
  background-color: #F16D7F;
}
.cart__total {
  width: 360px;
  height: 214px;
  background-color: #F5F3F3;
  padding: 43px;
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.cart__total__info {
  height: 61px;
  border-bottom: 1px solid #E2E2E2;
}
.cart__total__text1 {
  text-align: right;
  color: #4A4A4A;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cart__total__text2 {
  text-align: right;
  color: #222;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cart__total__text2__pink {
  color: #F16D7F;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.cart__total__button {
  width: 273px;
  height: 50px;
  background-color: #F16D7F;
  border: none;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cart__total__button:hover {
  transition-duration: 300ms;
  color: #000;
}

.filter-sort {
  height: 132px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 320px;
}

.filter {
  width: 360px;
  box-sizing: border-box;
  position: absolute;
  color: #6F6E6E;
}
.filter__content {
  background-color: #fff;
  padding: 0px 16px 16px 16px;
  box-shadow: 17px 19px 24px 0 rgba(0, 0, 0, 0.13);
}
.filter[open] .filter__heading {
  color: #F16D7F;
}
.filter[open] path {
  fill: #F16D7F;
}
.filter__summary {
  display: flex;
  align-items: center;
  gap: 11px;
}
.filter__summary_svg {
  width: 15px;
  height: 10px;
}
.filter__heading {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}
.filter__link-box {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 24px 16px 24px 16px;
}
.filter__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}
.filter__link:hover {
  color: #F16D7F;
}
.filter__head {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  padding: 8px 11px 11px 11px;
  border-bottom: 1px solid #EBEBEB;
  border-left: 5px solid #F16D7F;
}
.filter__item {
  margin-top: 16px;
}
.filter__item[open] .filter__head {
  color: #F16D7F;
}

.sort {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 48px;
}
.sort__box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.sort__box__text {
  color: #6F6E6E;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.sort__box__size {
  position: absolute;
  left: -9px;
  top: 22px;
  width: 79px;
  height: 103px;
  padding-top: 7px;
  padding-left: 9px;
  background: #FFF;
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
  display: flex;
  flex-direction: column;
  gap: 6px;
  z-index: 2;
}
.sort__box__size__elem {
  display: flex;
  gap: 9px;
}
.sort__box__size__elem__text {
  color: #6F6E6E;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.details {
  position: relative;
}

img {
  max-width: 100%;
}

.top_content {
  background: #F1E4E6;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.top_content_center {
  padding-left: calc(45% - 800px);
  padding-right: calc(50% - 800px);
}
.top_content_img {
  max-width: 800px;
  height: 764px;
}
.top_content_brand {
  max-width: 800px;
  padding-left: 91px;
  padding-top: 290px;
  padding-bottom: 381px;
}

.catalog {
  margin-top: 65px;
  margin-bottom: 65px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 360px);
  grid-template-rows: 260px 180px;
  gap: 30px;
}

.container {
  position: relative;
  width: 360px;
  height: 260px;
  background-repeat: no-repeat;
  background-size: cover;
  fill-opacity: "0.7";
}

.container1 {
  background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(img/woman.png);
}
.container1:hover {
  opacity: 0.7;
}

.container2 {
  background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(img/man.png);
}
.container2:hover {
  opacity: 0.7;
}

.container3 {
  background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(img/child.png);
}
.container3:hover {
  opacity: 0.7;
}

.container_big {
  position: relative;
  width: 1140px;
  height: 180px;
}

.container4 {
  background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(img/accessories.png);
  background-repeat: no-repeat;
  background-size: cover;
  fill-opacity: "0.7";
}
.container4:hover {
  opacity: 0.7;
}

.cat_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.showcase_title {
  color: #222;
  font-family: Lato;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.showcase_text {
  color: #9F9F9F;
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 48px;
}
.showcase_footer {
  margin-top: 100px;
  margin-bottom: 200px;
}
.showcase_item {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 360px);
  grid-template-rows: repeat(2, 581px);
  gap: 30px;
  margin-bottom: 48px;
}
.showcase_item_text {
  margin-bottom: 0;
  background-color: #F8F8F8;
  padding: 24px 28px 20px 16px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  gap: 5px;
}
.showcase_product_name {
  color: #222224;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.showcase_descriprion {
  color: #5D5D5D;
  margin-bottom: 13px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.showcase_price {
  margin-bottom: 0px;
  color: #F16D7F;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.showcase_footer {
  position: relative;
}
.showcase_footer_img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.showcase_footer_button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 212px;
  height: 48px;
  border: 1px solid #F16D7F;
  color: #F26376;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.showcase_item2_img {
  background-size: 360px 420px;
  width: 360px;
  height: 420px;
}

.pagination {
  width: 283px;
  height: 43px;
}
.pagination__page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: #ffffff;
  border: 1px #EBEBEB;
  box-shadow: 0 0.8rem 2rem rgba(90, 97, 129, 0.05);
}
.pagination__page_numbers, .pagination__page_btn, .pagination__page_dots {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #C4C4C4;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.pagination__page_numbers {
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 0.4rem;
}

.product-top {
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
  height: 724px;
  background-color: #F7F7F7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-top__button {
  width: 47px;
  height: 47px;
  padding: 8px;
  border: none;
  background-color: rgba(42, 42, 42, 0.15);
}

.product-box-info {
  height: 601px;
  padding-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}
.product-box-info__text1 {
  margin-bottom: 0;
  height: 17px;
  color: #F16D7F;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.product-box-info__text2 {
  margin-bottom: 0;
  height: 22px;
  color: #4D4D4D;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.product-box-info__text3 {
  width: 555px;
  margin-top: 36px;
  margin-bottom: 0;
  color: #5E5E5E;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.product-box-info__price {
  margin-top: 20px;
  margin-bottom: 53px;
  height: 29px;
  color: #EF5B70;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.product-box-info__button {
  width: 212px;
  height: 48px;
  margin-top: 36px;
  padding-left: 24px;
  border: 1px solid #FF6A6A;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 23px;
}
.product-box-info__button__text {
  margin: 0;
  height: 19px;
  color: #F26376;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.product-sort {
  margin-top: 53px;
  height: 17px;
  display: flex;
  gap: 23px;
}
.product-sort__box {
  display: flex;
  align-items: center;
  gap: 9px;
}
.product-sort__text {
  margin-bottom: 0;
  color: #6F6E6E;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.product-catalog {
  margin-top: 129px;
  margin-bottom: 128px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 360px);
  gap: 30px;
}

.footer_level1 {
  height: 341px;
  margin-top: 96px;
  background-color: #222224;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.footer_level1_block {
  width: 360px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.footer_level1_block_subtitle {
  margin-top: 12px;
  color: #FBFBFB;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer_level1_block_text {
  color: #FBFBFB;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.footer_level2 {
  height: 448px;
  background-image: linear-gradient(rgba(244, 244, 244, 0.7), rgba(244, 244, 244, 0.7)), url(img/backround_foot_l2.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 410px;
}
.footer_level2_block {
  width: 360px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  gap: 30px;
}
.footer_level2_block_text_A {
  color: #222224;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 167.2%;
}
.footer_level2_block_text_B {
  color: #222224;
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 167.2%;
}
.footer_level2_input_email {
  width: 360px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
.footer_level2_input {
  width: 256px;
  height: 49px;
  flex-shrink: 0;
  color: #E1E1E1;
  position: relative;
}
.footer_level2_input1 {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}
.footer_level2_input_pole {
  width: 170px;
  height: 36px;
  z-index: 2;
  position: absolute;
  top: 7px;
  left: 22px;
  color: #222224;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.671;
  background: none;
  border: none;
}
.footer_level2_button {
  width: 100px;
  height: 49px;
  position: relative;
}
.footer_level2_button_background {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}
.footer_level2_button_text {
  z-index: 2;
  position: absolute;
  top: 7px;
  left: 8px;
  width: 85px;
  height: 36px;
  background: none;
  border: none;
  color: #FFF;
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer_feedback {
  width: 359.449px;
  height: 99px;
  flex-shrink: 0;
  text-align: center;
}
.footer_feedback_text_A {
  color: #222224;
  text-align: center;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer_feedback_text_B {
  color: #222224;
  font-family: Lato;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

.footer_level3 {
  height: 79px;
  flex-shrink: 0;
  background-color: #222224;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  gap: 650px;
}
.footer_level3_text {
  width: 332px;
  color: #FBFBFB;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer_level3_logo_block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  gap: 7px;
}
.footer_level3_logo_block_logo {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  color: #FFF;
  position: relative;
}

.background_logo {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.logo {
  z-index: 2;
  position: absolute;
  top: 8px;
  left: 9px;
}

.registr-block {
  padding-top: 64px;
  padding-bottom: 96px;
  display: flex;
  gap: 128px;
}

.form {
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.form__subtitle {
  margin-bottom: 0;
  color: #222;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.form__input {
  margin-top: 4px;
  padding-left: 17px;
  width: 359px;
  height: 44px;
  border: 0.5px solid #a4a4a4;
  background-color: #FFF;
  color: #B1B1B1;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.form__radioblock {
  margin-top: 15px;
  display: flex;
  gap: 10px;
}
.form__radio {
  width: 17px;
  height: 17px;
  border: 1px solid #a4a4a4;
}
.form__radio-label {
  color: #000;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 10px;
  margin-bottom: 17px;
}
.form__text {
  color: #B1B1B1;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.form__button {
  margin-bottom: 23px;
  width: 167px;
  height: 50px;
  border: none;
  background-color: #F16D7F;
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.offer {
  max-width: 652px;
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.offer__title {
  margin-bottom: 0;
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.offer__text {
  margin-bottom: 0;
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.offer__ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.offer__li {
  list-style-type: none;
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.offer__li:before {
  content: url("img/tick_marker.svg");
  margin-right: 23px;
}

@media (max-width: 1023px) {
  .center {
    padding-left: calc(50% - 384px);
    padding-right: calc(50% - 384px);
  }
  .breadcrumbs {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    padding-left: 32px;
    padding-right: 32px;
  }
  .top_content_img {
    max-width: 364px;
    height: 368px;
  }
  .top_content_brand {
    max-width: 364px;
    padding-left: 91px;
    padding-top: 138px;
    padding-bottom: 151px;
  }
  .catalog {
    margin-top: 19px;
    margin-bottom: 154px;
    grid-template-columns: repeat(3, 232px);
    grid-template-rows: 168px 116px;
    gap: 19px;
  }
  .container1 {
    background-size: contain;
    width: 232px;
    height: 168px;
  }
  .container2 {
    background-size: contain;
    width: 232px;
    height: 168px;
  }
  .container3 {
    background-size: contain;
    width: 232px;
    height: 168px;
  }
  .container_big {
    background-size: contain;
    width: 735px;
    height: 116px;
  }
  .showcase_text {
    margin-bottom: 72px;
  }
  .showcase_item {
    display: grid;
    grid-template-columns: repeat(2, 360px);
    grid-template-rows: repeat(3, 581px);
    gap: 17px;
    margin-bottom: 32px;
  }
  .footer_level1 {
    height: 610px;
    flex-direction: column;
    gap: 48px;
  }
  .footer_level1_block_subtitle {
    margin-top: 12px;
    margin-bottom: 0;
  }
  .footer_level1_block_text {
    margin-bottom: 0;
  }
  .footer_level2 {
    height: 693px;
    flex-direction: column;
    gap: 48px;
  }
  .footer_level3 {
    height: 79px;
    padding-left: 32px;
    padding-right: 32px;
    gap: 0px;
  }
  .filter-sort {
    height: 81px;
    justify-content: space-between;
  }
  .cart {
    padding-top: 59px;
    flex-direction: column;
  }
  .cart__itemblock {
    width: 734px;
  }
  .cart__infoblock {
    margin-bottom: 128px;
    flex-direction: row;
  }
  .cart__buttons {
    margin-top: 62px;
    margin-bottom: 64px;
    justify-content: space-evenly;
  }
  .cart__shipadress {
    flex-direction: column;
  }
  .cart__total {
    margin-top: 39px;
  }
  .product-top {
    height: 624px;
  }
  .product-top__img {
    width: 466px;
    height: 565px;
  }
  .product-catalog {
    grid-template-columns: repeat(2, 360px);
    gap: 16px;
  }
  .product-catalog__item3 {
    visibility: hidden;
    display: none;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: calc(50% - 180px);
    padding-right: calc(50% - 180px);
  }
  .profile, .cart-icon, .top_content_img, .filter__heading {
    visibility: hidden;
    display: none;
  }
  .header {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top_content_brand {
    width: 375px;
    height: 367px;
    padding: 148px 56px;
  }
  .catalog {
    margin: 64px 0;
    padding: 0;
    grid-template-columns: repeat(1, 343px);
    grid-template-rows: 249px 249px 249px 111px;
    gap: 32px;
  }
  .container1 {
    background-size: contain;
    width: 343px;
    height: 247px;
  }
  .container2 {
    background-size: contain;
    width: 343px;
    height: 247px;
  }
  .container3 {
    background-size: contain;
    width: 343px;
    height: 247px;
  }
  .container_big {
    background-size: contain;
    width: 343px;
    height: 111px;
  }
  .showcase_item {
    display: grid;
    grid-template-columns: repeat(1, 359px);
    gap: 17px;
  }
  .showcase_footer {
    height: 152px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .showcase_footer_button {
    top: 30%;
  }
  .footer_level1 {
    margin-top: 0;
    height: 610px;
    flex-direction: column;
    gap: 46px;
  }
  .footer_level1_block_subtitle {
    margin-top: 12px;
    margin-bottom: 0;
  }
  .footer_level1_block_text {
    margin-bottom: 0;
  }
  .footer_level2 {
    height: 550px;
    flex-direction: column;
    gap: 48px;
  }
  .footer_level2_block {
    gap: 29px;
  }
  .footer_level2_block_text_B {
    font-size: 14px;
  }
  .footer_level2_input {
    width: 245px;
    height: 47px;
  }
  .footer_level2_button {
    width: 96px;
    height: 47px;
    position: relative;
  }
  .footer_feedback {
    padding-left: 20px;
    padding-right: 20px;
  }
  .footer_feedback_text_A {
    font-size: 18px;
  }
  .footer_feedback_text_B {
    font-size: 18px;
  }
  .footer_level3 {
    height: 143px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    gap: 40px;
  }
  .footer_level3_text {
    width: 251px;
  }
  .breadcrumbs {
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 32px;
  }
  .breadcrumbs__title {
    margin-bottom: 0;
  }
  .cart-mobile {
    margin-top: 30px;
  }
  .reg-mobile {
    margin-top: 30px;
    width: 169px;
  }
  .filter-sort {
    height: 81px;
    display: flex;
    justify-content: flex-start;
    gap: 61px;
  }
  .filt {
    width: 37px;
    height: 25px;
  }
  .filter__summary_svg {
    width: 37px;
    height: 25px;
  }
  .sort {
    gap: 24px;
  }
  .sort__box {
    gap: 9px;
  }
  .sort__box__text {
    font-size: 12px;
  }
  .cart {
    padding-top: 39px;
  }
  .cart__itemblock {
    width: 358px;
  }
  .cart__infoblock {
    margin-top: 0;
    margin-bottom: 96px;
    display: flex;
    flex-direction: column;
    gap: 48px;
  }
  .cart__items {
    gap: 32px;
  }
  .cart__item {
    height: 188px;
    gap: 17px;
  }
  .cart__item_img {
    background-size: contain;
    width: 144px;
    height: 188px;
  }
  .cart__item_img_mobile {
    height: 188px;
  }
  .cart__item__content {
    padding-top: 13px;
  }
  .cart__item_heading {
    max-width: 135px;
    font-size: 16px;
    margin-bottom: 26px;
  }
  .cart__item_text {
    font-size: 14px;
    margin-bottom: 4px;
  }
  .cart__item_input {
    margin-left: 15px;
    width: 24px;
    height: 15px;
  }
  .cart__item_delete {
    top: 17px;
    right: 12px;
    height: 11px;
  }
  .cart__item_delete_mobile {
    width: 10px;
    height: 11px;
  }
  .cart__buttons {
    margin-top: 30px;
    margin-bottom: 48px;
  }
  .cart__button {
    width: 175px;
    height: 33px;
    font-size: 12px;
    text-transform: lowercase;
  }
  .cart__button::first-letter {
    text-transform: uppercase;
  }
  .cart__shipadress {
    display: flex;
    flex-direction: column;
    gap: 21px;
  }
  .cart__shipadress_input {
    width: 358px;
    height: 44px;
  }
  .cart__shipadress__button {
    width: 101px;
    height: 35px;
    color: #575757;
    text-transform: lowercase;
  }
  .cart__shipadress__button::first-letter {
    text-transform: uppercase;
  }
  .cart__total {
    margin-top: 0;
    padding: 39px 43px 42px 44px;
  }
  .cart__total__info {
    height: 65px;
    border-bottom: 1px solid #E2E2E2;
  }
  .cart__total__text1 {
    margin-bottom: 12px;
  }
  .cart__total__text2 {
    margin-bottom: 12px;
  }
  .registr-block {
    padding-top: 40px;
    flex-direction: column;
    gap: 40px;
  }
  .offer {
    max-width: 652px;
    display: flex;
    flex-direction: column;
    gap: 22px;
  }
  .offer__title {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .offer__text {
    font-size: 16px;
  }
  .offer__ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .offer__li {
    font-size: 16px;
  }
  .product-top {
    width: 375;
    height: 624px;
    padding-top: 65px;
    padding-bottom: 65px;
    position: relative;
  }
  .product-top__img {
    height: 464px;
    position: absolute;
  }
  .product-top__button {
    z-index: 2;
  }
  .product-catalog {
    margin-top: 64px;
    margin-bottom: 64px;
    grid-template-columns: repeat(1, 360px);
    grid-template-rows: repeat(2, 581px);
    gap: 0;
  }
  .product-catalog__item2 {
    visibility: hidden;
    display: none;
  }
  .product-catalog__item3 {
    visibility: visible;
    display: block;
  }
  .product-box-info {
    height: 600px;
  }
  .product-box-info__text3 {
    width: 326px;
    margin-top: 20px;
    line-height: 143.1%;
  }
  .product-box-info__price {
    margin-bottom: 20px;
    line-height: 130%;
  }
  .product-box-info__button {
    margin-top: 52px;
  }
  .product-sort {
    margin-top: 37px;
    height: 12px;
    gap: 25px;
  }
  .product-sort__box {
    gap: 10px;
  }
  .product-sort__text {
    font-size: 10px;
  }
}/*# sourceMappingURL=style.css.map */