* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

.center {
    margin-left: calc(50% - 570px);
    margin-right: calc(50% - 570px);
}

.content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

.item {
    height: calc((100vh - 32px) / 3);
    border: 1px solid #000;
    text-align: center;
}

.title {
    font-size: 4rem;
}

.subtitle {
    font-style: 3rem;
}

.text {
    font-style: 2rem;
}




@media(max-width: 1024px) {
    html {
        font-size: 14px;
    }

    .content {
        grid-template-columns: repeat(3, 1fr);
    }

    .item {
        height: calc((100vh - 48px) / 4);
    }
}

@media (max-width: 767px) {
    html {
        font-size: 12px;
    }

    .content {
        grid-template-columns: repeat(2, 1fr);
    }

    .item {
        height: calc((100vh - 32px) / 3);
    }
}